<div class="tittle" style="text-align:center;"><h4>Search Repo</h4></div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
  <form (ngSubmit)='submituser()'>
    <div id="tittle">
        <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="search" name="search" >
    </div>
    <div id="tittle" class="btnMargin">
        <button type="submit" class="btn btn-outline-dark btn-lg">submit</button>
    </div>
  </form>
 </div>
 <div class="col-md-2"></div>
 <div class="col-md-3"></div>
</div>



<!-- <button (click)='buttonInfo()' class="btn btn-outline-danger btn-lg">Repo</button> -->

<hr>
<div class="row">
  <div class="col-md-4"><h5>User Details</h5></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"><button (click)='buttonInfo()' class="btn btn-outline-dark btn-lg">Display Repos</button></div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="{{ holduserdetail.avatar_url}}">
  </div>
  <div class="col-md-6">
    <p> login name -{{ holduserdetail.login}}</p>
    <a href="{{ holduserdetail.repos_url}}">Repo link</a>
    <p>{{ holduserdetail.name}}</p>
  </div>
</div>
 
 
<hr>
<div class="tittle" id="tittle"><h1>List of Repos</h1></div>
 <div *ngFor="let repo of repoInfo" id="repoMargin">
   <div class="row" >
    <div class="col-md-4  " style="float: left">
     
    </div>
    <div class="col-md-4 card" >
      <div class="card-header" ><p >{{repo.name}}</p></div>
      <div class="card-body"><p>{{repo.description}}</p></div>
    </div>
    <div class="col-md-4"></div>
   </div>
  
 </div>
<hr>


